---
# main.scss
---

@import "minima";  /* Import the base styles of the minimal theme */

body {
  background-color: #000;
  color: #fff;
  font-size: 12px;
}

a {
  color: #1e90ff; /* A contrasting link color */
  font-size: 10px;
}

a:hover, a:focus {
  color: #ff4500; /* Example: Change color on hover */
  text-decoration: none;
}